*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background:rgb(202, 205, 212);
}
.login-container{
    width: 100%;
    margin-top: 2rem;
    /* height: 682px; */
}

.login-text{
    text-align: center;
    width: 100%;
    padding:12px;
}

.login-sidetext{
    /* padding-top: 60px; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 2rem;
    color: rgb(34, 33, 33);
    /* text-decoration:dashed underline; */
}

.login-form{
    background-color:lightslategrey;
    text-align: center;
    font-size: 1.5rem;
    /* position: absolute; */
    padding: 1rem;
    width:25rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    border-radius: 0.5rem;
    box-shadow: 25px 50px 60px  rgb(90,88,88);
}
.login-form:hover{
    transform: scaleX(1.02);

}
.login-form label{
    text-align: center;
    width: 50%;
    font-size: 1.5rem;
    color:white;
    
}
.input-class{
    text-align: center;
    margin:1rem;
    width: 75%;
    font-size: 1.5rem;
    padding: 3px 8px;

    
    border:2px solid rgb(34, 33, 33);
    border-radius: 0.3rem;
}

.loginbtn{
    border:2px solid white;
    margin-top: 15px;
    width: 50%;
    border-radius: 15px;
    padding: 12px 14px;
    font-size: 18px;
    background-color: rgb(34, 33, 33);
    cursor: pointer;
    color: white;
    font-weight: 600;
}
.loginbtn:hover{
    transform: scaleY(1.1);
    background-color: black;
}

.smalltext{
    font-size: 18px;
}


.loginSignup{
    margin-top: 10px;
    font-size: 20px;
}

.login-signup{
    color: rgb(30, 30, 101);
}
.msg{
    font-size: 0.9rem;
    color: white;
}
/* -------------------REGISTER-------------------------- */
.signup-container{
    width: 100%;
    margin-top: 2rem;
}

.signup-text{
    text-align: center;
    width: 100%;
    padding:12px;
}

.signup-sidetext{
    /* padding-top: 60px; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 2rem;
    color: rgb(34, 33, 33);
    /* text-decoration:dashed underline; */
}

.signup-form{
    background-color:lightslategrey;
    text-align: center;
    font-size: 1.2rem;
    padding: 1rem;
    width:30%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    color:white;
    border-radius: 0.5rem;
    box-shadow: 25px 50px 60px  rgb(90,88,88);
}
.signup-form:hover{
    transform: scaleX(1.02);

}
.signupbtn{
    border:2px solid white;
    margin-top: 15px;
    width: 50%;
    border-radius: 15px;
    padding: 12px 14px;
    font-size: 18px;
    background-color: rgb(34, 33, 33);
    cursor: pointer;
    color: white;
    font-weight: 600;
}
.signupbtn:hover{
    transform: scaleY(1.1);
    background-color: black;
}


.loginSignup{
    margin-top: 10px;
    font-size: 20px;
}

.error{
    color: red;
    margin-bottom: 8px;
}

.text-light{
    text-decoration: none;
}
/* -----------------------------------------------------CATEGORY--------------------------------------- */
.container{
    text-align: center;
}
